*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila {
    position: 
}

.col-4 {
    float: left;
    width: 33.33%;
    background: grey;
}

.col-12 {
    width: 100%;
}